.base {
  position: relative;
  background: #fbfbfb;
  max-width: 599px;
  border-radius: 30px;
  padding: 64px;
}

.closeBtn {
  position: absolute;
  background-color: transparent;
  padding: 0;
  top: 20px;
  right: 20px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 20px;
}

.text {
  margin-bottom: 40px;
}

.psychologistBox {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 15px;
}

.psychologist {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8a8a89;
  margin-bottom: 4px;
}

.name {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #191a15;
}
